body
{
  font-size: 40pt;
}

.text-justify
{
  text-align:justify; 
  text-justify:inter-ideograph;
  text-indent: 2.05em!important;
}



.transbox
{
  margin:30px;
  
  border: 1px solid black;
  /* for IE */
  filter:alpha(opacity=60);
  background-color: #ffffff;
  /* CSS3 standard */
  opacity:0.6;
}


